<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<div th:replace="~{fragment :: styles}"></div>
	<title>パスワードの変更</title>
</head>

<body>
	<div th:replace="~{fragment :: header}"></div>

	<main>
		<form th:action="@{/user/changepass}" method="post" th:object="${passwordChangeForm}" class="edit-form">
			<div>
				<label for="oldPassword">現在のパスワード:</label>
				<input type="password" id="oldPassword" name="oldPassword" th:value="*{oldPassword}" class="form-control" required />
				<p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></p>
			</div>
			<div>
				<label for="newPassword">新しいパスワード:</label>
				<input type="password" id="newPassword" name="newPassword" th:value="*{newPassword}" class="form-control" required />
				<p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>
			</div>
			<div>
				<label for="confirmNewPassword">新しいパスワード (再入力):</label>
				<input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control"
					th:value="*{confirmNewPassword}" required />
				<p th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}"></p>
			</div>
			<button type="submit">パスワードを変更</button>
		</form>
	</main>

	<div th:replace="~{fragment :: footer}"></div>
</body>

</html>